# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

VITE_BACKEND_URL=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=
MERCADO_PAGO_ACCESS_TOKEN=
VITE_MERCADO_PAGO_PUBLIC_KEY=
