rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Services
    match /services/{serviceId} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
                      (get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'manager' || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'barber');
    }
    // Appointments
    match /appointments/{appointmentId} {
      allow read, write: if true;
    }
    // Users
    match /users/{userId} {
      allow read, write: if true;
    }
    // Notifications
    match /notifications/{docId} {
      allow read, write: if true;
    }
    // Blocked Times
    match /blocked_times/{docId} {
      allow read: if true;
      allow write: if false;
    }
    // Client Profiles
    match /client_profiles/{loginCode} {
      allow read, write: if true;
    }
    // Staff Notifications
    match /staff_notifications/{docId} {
      allow read, write: if true;
    }
    // Promotions
    match /promotions/{promoId} {
      allow read: if true;
      allow write: if exists(/databases/$(database)/documents/users/$(request.auth.uid)) && 
                      get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'manager';
    }

    // Fallback
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
